<!--div class="progress" ng-show="loading">
	<div class="indeterminate"></div>
</div-->

<div class="circle-loader-wrapper" ng-show="loading">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col s12">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<span class="card-title black-text">Disruptors</span>
					<br/>
					<div class="chip name-picker-chip" ng-repeat="names in name_array | orderBy:'-max'" ng-click="updateName(names)">
						{{names.name}} ({{names.max}})
					</div>
				</div>
			</div>
		</div>
		<div class="col s12">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<span class="card-title black-text">Frequency By Year</span>
					<span class="right"><!--a class="btn-floating waves-effect waves-light red"><img class="share" src="./static/img/share.png"/></a-->
						<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//anylytics.io/names/%23/home?name={{urlname}}" class="waves-effect waves-light btn blue darken-4">Share</a>
						<a href="https://twitter.com/home?status=http%3A//anylytics.io/names/%23/home?name={{urlname}}" class="waves-effect waves-light btn blue lighten-3">Tweet</a>
					</span>
					<canvas id="line" class="chart chart-line" 
						chart-data="data.data" 
						chart-options="options"
						chart-labels="data.labels" 
						chart-legend="true" 
						chart-series="data.series"
						chart-click="onClick" >
					</canvas> 
				</div>
			</div>
		</div>
	</div>

</div>