<!--div class="progress" ng-show="loading">
	<div class="indeterminate"></div>
</div-->

<div class="circle-loader-wrapper" ng-show="loading">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<h5 class="caps">Historical Name Comparison Tool</h5>
	<p class="flow-text">
		Ever wondered what other names were popular during the same time as yours? Now you can find out! To learn more about the data, our methodology and algorithms used, read our associated <a href="../blog/fifteen-minutes-of-name">blog post</a>!
	</p>
									




	<div class="row">
		<div class="col s12 l5">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<span class="card-title black-text">Search for a Name</span>
					<input placeholder="Just start typing!" autofocus type="text" ng-model="selectedName" id="autocomplete_histName" class="flow-text"/>
				</div>
			</div>
		</div>
		<div class="col s8 l4">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<span class="card-title black-text">Or Select a Sample Distribution</span>
					<div class="row">
						<div class="col s6 l3">
							<img class="dist-img-picker" src="./static/img/left.png" ng-click="goTo('left');"/>
						</div>
						<div class="col s6 l3">
							<img class="dist-img-picker" src="./static/img/right.png" ng-click="goTo('right');"/>
						</div>
						<div class="col s6 l3">
							<img class="dist-img-picker" src="./static/img/center.png" ng-click="goTo('center');"/>
						</div>
						<div class="col s6 l3">
							<img class="dist-img-picker" src="./static/img/bimodal.png" ng-click="goTo('bimodal');"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s4 l3">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<div class="hide-on-small-only">
						<div class="switch" ng-show="false">
							Current Gender: {{gender}}<br/>
							<label>
								Male
								<input type="checkbox" ng-model="gender_switch">
								<span class="lever"></span>
								Female
							</label>
						</div>
						<div class="switch">
							Normalization
							<button onclick="$('#normalize').openModal();" 
									data-target="normalize" class="btn-floating modal-trigger blue lighten-1" ng-show="urlname">
								?
							</button><br/>
							<label class="">
								Raw
								<input type="checkbox" ng-model="normalized">
								<span class="lever"></span>
								Normalize
							</label>
						</div>
						<div class="mobile-switch" ng-show="urlname">
							<label for="" class="card-title black-text">
								Normalize?
							</span><button onclick="$('#normalize').openModal();" 
									data-target="normalize" class="btn-floating modal-trigger blue lighten-1" ng-show="urlname">
								?
							</button>
							<br/>
							<input type="checkbox" ng-model="normalized"/>
							
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>




	<div class="row">
		<div class="col s12">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<span class="card-title black-text">Frequency By Year</span>
					<button onclick="$('#explain').openModal();" data-target="explain" class="btn modal-trigger green lighten-1" ng-show="urlname&&!loading">
						What am I seeing?
					</button>
					<div id="plot-container" ng-show="urlname&&!loading">
						<canvas id="line" class="chart chart-line" chart-data="data" chart-options="options" chart-colours ="colors"
							chart-labels="labels" 
							chart-legend="true" 
							chart-series="series"
							chart-click="onClick" >
						</canvas> 
						<div id="x-label">YEAR</div>
						<div id="y-label"><span ng-show="normalized">RELATIVE </span>FREQUENCY OF NAME</div>
					</div>
					
					<span class="right social"><!--a class="btn-floating waves-effect waves-light red"><img class="share" src="./static/img/share.png"/></a-->
						<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//anylytics.io/names/%23/home?name={{urlname}}" class="waves-effect waves-light btn blue darken-4">Share</a>
						<a href="https://twitter.com/home?status=http%3A//anylytics.io/names/%23/home?name={{urlname}}" class="waves-effect waves-light btn blue lighten-3">Tweet</a>
					</span>
				</div>
			</div>
		</div>
	</div>



	<!-- Explain Modal -->
	<div id="explain" class="modal">
		<div class="modal-content">
			<h4>Name Clusters for "{{urlname}}"</h4>
			<p>
				Scanning the baby names database shows that the names listed below follow a very similar wave of popularity to one another over the past century. 
				<ul>
					<li ng-repeat="name in series">{{name}}</li>
				</ul>
				<hr/>
				Names in the database tend to fall in to distinct 'clusters', four of which we have identified and provided in the 'Select a Sample Distribution' panel. How many other clusters can you find?
			</p>
		</div>
		<div class="modal-footer">
			<a href="../blog/fifteen-minutes-of-name" class=" modal-action modal-close waves-effect waves-green">Tell me more!</a>
			<a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Got it!</a>
		</div>
	</div>


	<!-- Normalization Modal -->
	<div id="normalize" class="modal">
		<div class="modal-content">
			<h4>What does this switch do?</h4>
			<p>
			By turning normalization 'on', the frequency of a name is divided by its average frequency over the 100 years of this data. By doing this, we can cancel out effects of one name in a cluster being extremely more popular than others, therefore leveling the playing field. 
			</p>
		</div>
		<div class="modal-footer">
			<a href="../blog/fifteen-minutes-of-name#normalize" class=" modal-action modal-close waves-effect waves-green">Tell me more!</a>
			<a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Got it!</a>
		</div>
	</div>


</div>