<!--div class="progress" ng-show="loading">
	<div class="indeterminate"></div>
</div-->

<div class="circle-loader-wrapper" ng-show="loading">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<h5 class="caps">Historical Name Comparison Tool</h5>
	<p class="flow-text">
		Ever wondered what other names were popular during the same time as yours? Now you can find out! To learn more about the data, our methodology and algorithms used, read our associated <a href="../blog/fifteen-minutes-of-name">blog post</a>!
	</p>
									




	<div class="row">
		<div class="col s12 l5">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<span class="card-title black-text">Search for a Name</span>
					<input placeholder="Just start typing!" autofocus type="text" ng-model="selectedName" id="autocomplete_histName"/>
				</div>
			</div>
		</div>
		<div class="col s12 l4">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<span class="card-title black-text">Or Select a Sample Distribution</span>
					<div class="row">
						<div class="col s3">
							<img class="dist-img-picker" src="./static/img/left.png" ng-click="goTo('left');"/>
						</div>
						<div class="col s3">
							<img class="dist-img-picker" src="./static/img/right.png" ng-click="goTo('right');"/>
						</div>
						<div class="col s3">
							<img class="dist-img-picker" src="./static/img/center.png" ng-click="goTo('center');"/>
						</div>
						<div class="col s3">
							<img class="dist-img-picker" src="./static/img/bimodal.png" ng-click="goTo('bimodal');"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 l3">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<div class="flow-text">
						<div class="switch" ng-show="false">
							Current Gender: {{gender}}<br/>
							<label>
								Male
								<input type="checkbox" ng-model="gender_switch">
								<span class="lever"></span>
								Female
							</label>
						</div>
						<div class="switch">
							Normalization<br/>
							<label>
								Raw
								<input type="checkbox" ng-model="normalized">
								<span class="lever"></span>
								Normalized
							</label>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>




	<div class="row">
		<div class="col s12">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<span class="card-title black-text">Frequency By Year</span>
					<canvas id="line" class="chart chart-line" chart-data="data" chart-options="options"
						chart-labels="labels" 
						chart-legend="true" 
						chart-series="series"
						chart-click="onClick" >
					</canvas> 
				</div>
			</div>
		</div>
	</div>





</div>