<style>
.debug-control {
	bottom:20px;
	right:20px;
	position:fixed;
}
.name-input {
	top:75px;
	right:20px;
	position:fixed;
}
#map {height: calc( 100vh - 56px );}

.noUi-handle {transform:translateY(5px)!important;}
.card {overflow:visible;}
.disabled {opacity:0.4; pointer-events:none;}
.readonly {opacity:0.75; pointer-events:none;}
.btn {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
.year {
	font-size:1.6em;
}
</style>

<div>
	<div class="progress" ng-show="loading" style="top:64px;">
		<div class="indeterminate"></div>
	</div>
	<div id="map"></div>
	<div class="interactionLayer">
		<div class="card grey darken-2 debug-control {{play_ctrl_class}}" ng-class="{'disabled':name_data.length==0}">
			<div class="card-content white-text">
				<div id="histByYear_slider"></div><br/>
				<h6>Current Year: <span class="year">{{current_year}}</span></h6>
				<a class="btn" ng-class="{'disabled':playing==true}" ng-click="animateThroughYears()"> <i class="material-icons">play_arrow</i> </a>
				<a class="btn" ng-class="{'disabled':playing==false}" ng-click="stopAnimation()"> <i class="material-icons">pause</i> </a>
				<a class="btn" ng-class="{'disabled':playing==true}" ng-click="resetAnimation()"> <i class="material-icons">replay</i> </a>
				<div class="frame-ctrl">
					<h6>Frame Control</h6>
					<a class="btn" ng-class="{'disabled':playing==true}" ng-click="previousFrame()"> <i class="material-icons">skip_previous</i> </a>
					<a class="btn" ng-class="{'disabled':playing==true}" ng-click="nextFrame()"> <i class="material-icons">skip_next</i> </a>
				</div>
				<h6>Speed Control</h6>
				<a class="btn" ng-click="slowDown()"> <i class="material-icons">fast_rewind</i> </a>
				<a class="btn teal lighten-3 readonly" > <div>{{fps_val}}x</div> </a>
				<a class="btn" ng-click="speedUp()"> <i class="material-icons">fast_forward</i> </a>
			</div>
		</div>
		<div class="card white name-input animated zoomIn">
			<div class="card-content grey-text text-darken-3">
				<input placeholder="Search for a Name" autofocus type="text" ng-model="currentName" id="autocomplete_stateName"/>
			</div>
		</div>
	</div>
</div>
