<style>
.debug-control {
	bottom:20px;
	right:20px;
	position:fixed;
}
.name-input {
	top:75px;
	right:20px;
	position:fixed;
}
#map {height: calc( 100vh - 56px );}

.noUi-handle {transform:translateY(5px)!important;}
.card {overflow:visible;}
.disabled {opacity:0.4; pointer-events:none;}
</style>

<div>
	<div class="progress" ng-show="loading" style="top:64px;">
		<div class="indeterminate"></div>
	</div>
	<div id="map"></div>
	<div class="interactionLayer">
		<div class="card grey darken-2 debug-control animated zoomIn" ng-class="{'disabled':name_data.length==0}">
			<div class="card-content white-text">
				<div id="histByYear_slider"></div><br/>
				<h5>Current Year: <span>{{current_year}}</span></h5>
				<a class="btn" ng-class="{'disabled':playing==true}" ng-click="animateThroughYears()"> <i class="material-icons">play_arrow</i> </a>
				<a class="btn" ng-class="{'disabled':playing==false}" ng-click="stopAnimation()"> <i class="material-icons">stop</i> </a>
				<a class="btn" ng-class="{'disabled':playing==true}" ng-click="resetAnimation()"> <i class="material-icons">replay</i> </a>
			</div>
		</div>
		<div class="card white name-input animated zoomIn">
			<div class="card-content grey-text text-darken-3">
				<input placeholder="Search for a Name" autofocus type="text" ng-model="currentName" id="autocomplete_stateName"/>
			</div>
		</div>
	</div>
</div>
